@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #masonry-grid {
    width: 100%;
  }

  .grid-item {
    margin-bottom: 12px;
  }

  * {
    scroll-behavior: smooth;
  }

  /* Adding Custom Font */
  @font-face {
    font-weight: 100;
    font-style: normal;
    font-family: "Graphik-Trial";
    src: url("/assets/fonts/Graphik-Thin-Trial.otf");
  }
  @font-face {
    font-weight: 200;
    font-style: normal;
    font-family: "Graphik-Trial";
    src: url("/assets/fonts/Graphik-Light-Trial.otf");
  }
  @font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "Graphik-Trial";
    src: url("/assets/fonts/Graphik-Regular-Trial.otf");
  }
  @font-face {
    font-weight: 500;
    font-style: normal;
    font-family: "Graphik-Trial";
    src: url("/assets/fonts/Graphik-Medium-Trial.otf");
  }
  @font-face {
    font-weight: 600;
    font-style: normal;
    font-family: "Graphik-Trial";
    src: url("/assets/fonts/Graphik-Semibold-Trial.otf");
  }
  @font-face {
    font-weight: 700;
    font-style: normal;
    font-family: "Graphik-Trial";
    src: url("/assets/fonts/Graphik-Bold-Trial.otf");
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .trigger-active {
    @apply bg-[#279DD7];
  }

  .trigger-outline {
    @apply border border-[#279DD7];
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 216, 79%, 23%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 31, 98%, 57%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer utilities {
  /* rc stands for short-form of react-components which is project's name */
  .rc-container {
    @apply container mx-auto  px-3 py-24 duration-300 md:max-w-7xl;
  }
}
